body{
    background-color: gray;

}
header h1{
    font-size: xx-large;
    text-align: center;
    color: coral;
}
h2{
    font-size: xx-large;
    text-align: center;
    color: blueviolet;
}

main ul li{
    font-size: large;
    text-align: center;
    color: green;
}

main ol li{
    font-size: large;
    text-align: center;
    color: red;
}