body{
    background-color: brown;

}
header h1{
    font-size: 35px;
    text-align: center;
    color: coral;
}
p{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color:blue;
    text-decoration: green;

}